## Ignore Visual Studio temporary files, build results, and cache ##

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options
.vs/
.vscode/
*.ncb
*.opendb
*.VC.db
*.VC.VC.opendb

# Rider IDE
.idea/

# NuGet
*.nupkg
*.snupkg
*.nuspec
*.nuget.props
*.nuget.targets
packages/
*.nuget/

# Others
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.pidb
*.svclog
*.scc
*.cache
*.ilk
*.log
*.tlog
*.pdb
*.obj
*.exe
*.dll
*.bak
*.tmp
*.dbmdl
*.bak
*.mdf
*.ldf

# Publish output
*.publishsettings
app.publish/

# Azure
PublishProfiles/
*.azurePubxml
*.pubxml
*.pubxml.user
*.pubxml

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Others
node_modules/
dist/
wwwroot/lib/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Production
appsettings.Production.json
appsettings.Development.json
