@page "/login"
@layout MainLayout

<section class="hero-section d-flex justify-content-center align-items-center position-relative"
         style="height: 100vh; background: url('/images/home-bg-2.jpg') center/cover no-repeat;">

    <div class="card shadow-lg p-5 text-center" style="max-width: 400px;">
      
        <h2 class="mb-3">Welcome to Travel-Tayo</h2>
        <p class="text-muted mb-4">Please sign in to access this page!.</p>

        <a href="MicrosoftIdentity/Account/SignIn" class="btn btn-primary btn-lg w-100 mb-3">
            <i class="bi bi-box-arrow-in-right"></i> Sign in 
        </a>

        <small class="text-muted">Don’t have an account? You can sign up on the next page.</small>
    </div>
</section>


